/* ===================== ITEM SCROLL BAR ===================== */
.menu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 70vh;               /* SAME height as .image-menu */
}

.scroll-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 60px;
  border-radius: 5px;
  background-color: rgb(192, 187, 187);
  margin: 3px 0;
  cursor: pointer;
  transition: background 0.2s ease;
}

.scroll-button:hover {
  background-color: rgb(160, 155, 155);
}

.scroll-button img {
  width: 35px;
  height: 35px;
  background-color: transparent;
}

.scroll-container {
  flex: 1;                  
  display: flex;
  flex-direction: column;    
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.item-box {
  margin-bottom: 5px;
  width: 80px;
  min-height: 50px;
  border-radius: 5px;
  background-color: rgb(76, 114, 238);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-align: center;
  font-weight: 800;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.item-box:hover {
  transform: scale(1.05);
  background-color: rgb(57, 96, 214);
}


