/* Snackbar */
.snackbar {
  position: fixed;
  top: 20px;
  right: 20px;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  font-weight: 500;
  animation: fadeInOut 2s ease-in-out;
  z-index: 1000;
}

.error {
  background-color: #f44336;
}

.success{
  background-color: #4caf50;
}



@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(-10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-10px); }
}
