* {
  background-color: rgb(209, 216, 235);
  user-select: none;
}

.app-container {
  margin: 130px auto;
  margin-left: 170px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 50%;
  height: 300px;
}

.row-1,
.row-2 {
  display: flex;
}

.app-container .Links {
  width: 275px;
  height: 125px;
  background-color: rgb(55 119 180);
  margin: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white;
  font-weight: 400;
  text-decoration: none;
}

/* for pages */
.data-container {
  max-width: 85%;
  margin: auto;
  margin-bottom: 40px;
  max-height: 76vh;
  overflow-y: auto;
}
.data-container thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.data-container::-webkit-scrollbar {
  width: 2px;
  height: 8px;
}

.data-container::-webkit-scrollbar-track {
  background: transparent;
}

.data-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.data-table {
  width: 100%;
}

.data-table th,
.data-table td {
  padding: 12px;
  text-align: left;
}

.data-table th {
  background-color: inherit;
  color: black;
}

.data-table tbody tr:nth-child(odd) td {
  background-color: #fefafa;
  color: black;
}

.data-table tbody tr:nth-child(even) td {
  background-color: inherit;
  color: black;
}

.data-table tr:hover td {
  background-color: #d6e2e4;
  color: black;
  cursor: pointer;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  margin-bottom: 20px;
}

.home-icon img {
  position: absolute;
  left: 40px;
  top: 70%;
  transform: translateY(-50%);
  width: 40px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid black;
}

.title {
  font-size: 30px;
  font-weight: 600;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.filter input,
select,
option {
  background-color: white;
}
