.billing-container {
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: #fff;
}

.row.g-0 {
  display: flex;
  height: 100%;
}

.left-container {
  background-color: #c7ceee;
  height: 100%;
}

.right-container {
  background-color: #212529;
  color: white;
  height: 100%;
  flex: 1; 
}

