/* Top Section */
.Top-section {
  min-height: 180px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.bill-container{
  height: 100vh;
}
.total-price {
  width: 100%;
  background-color: rgb(245, 243, 243);
  padding-left: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  border: 3px solid black;
  border-radius: 3px;
  font-weight: bold;
  font-size: large;
  color: grey;
}
.addItemBlocked {
  display: none;
}

.billMenuBlocked {
  display: none;
}
.left-table-container {
  height: 52vh; /* Adjust this value to fit above your bottom section */
  overflow-y: auto;
}

.left-table-container::-webkit-scrollbar {
  width: 2px;
  height: 8px;
}

.left-table-container::-webkit-scrollbar-track {
  background: transparent;
}

.left-table-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.price-table thead th {
  position: sticky;
  top: 0;
  z-index: 2;
}
.price-table thead th,
.price-table tbody td {
  background-color: inherit !important;
}

.right-align {
  text-align: right;
}

/* Bill Container */

.bill-container {
  padding: 12px;
}

.bill-container .text {
  font-weight: 600;
}

.bill-container .line {
  height: 3px;
  background-color: rgb(46, 44, 44);
  margin: 9px 0px;
}
.bill-rows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6px;
}

.payable {
  color: rgb(172, 28, 28);
  font-size: 20px;
}
.blue {
  color: rgb(29, 29, 255);
}
/* Bottom Section */
.bottom-section {
  flex-grow: 1;
  margin-top: 0;
  padding-top: 0;
  display: flex;
  align-items: flex-end;
}

.input-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

.input-boxes input {
  height: 30px;
  background-color: #fff;
  border: 2px solid rgb(185, 182, 182);
  border-radius: 2px;
}

.input-boxes button {
  height: 37px;
  margin: 24px 60px 0 25px;
  border: 1px solid black;
}

.input-boxes label {
  color: rgb(101, 29, 218);
  font-weight: 500;
}

.item-number,
.quantity {
  display: flex;
  flex-direction: column;
}

.input-buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 15px;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
}

.left-buttons {
  display: flex;
  flex-direction: column;
  width: 115px;
  margin-left: 5px;
}

.left-buttons button {
  width: 90px;
  height: 34px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid black;
  font-size: medium;
}

.left-input-buttons {
  margin-top: 5px;
  text-align: center;
}

.left-input-buttons label,
.left-input-buttons input {
  width: 100px;
}

.left-input-buttons label {
  margin: 4px 0 0 -3px;
  border: 0.2px solid white;
}

.left-input-buttons input {
  height: 40px;
  background: white;
  border-radius: 5px;
  border: 0.5px solid grey;
}

.numeric-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 7px;
  align-items: center;
}

.numeric-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;
  border: 1px solid black;
  font-size: 24px;
  font-weight: bold;
}

.clear-buttons {
  display: flex;
  flex-direction: column;
}

.clear-buttons button {
  font-size: 24px;
  font-weight: bold;
  width: 88px;
  height: 80px;
  margin-bottom: 15px;
  border: 1px solid black;
}

/* Main layout container */
.left-layout.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.main-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 6px;
  margin-bottom: 0;
  padding: 0;       
  margin: 0;     
}

/* Responsive: prevent scrollbars, allow content to shrink */
@media (max-height: 700px) {
  .left-layout.flex-container {
    height: 100vh;
    overflow: hidden;
  }
  .main-content-container,
  .input-buttons-container {
    max-height: none;
    overflow: visible;
  }

  .input-buttons{
    margin-bottom: 4px;
  }

}

.numeric-buttons .buttons{
  font-size: calc(1rem + 0.3vw);
  padding: calc(0.25rem + 0.2vw) calc(0.5rem + 0.3vw);
  width: calc(2.5rem + 1vw)
}